@font-face {
  font-family: header-font;
  src: url("/resources/fonts/head/Beguns FREE.ttf");
}

@font-face {
  font-family: sub-header-font;
  src:url("/resources/fonts/head/Old Bookshop HK.ttf");
}

@font-face {
  font-family: menu-font;
  src:url("/resources/fonts/menu/Birds of Paradise.ttf");
}

@font-face {
  font-family: body-font;
  src:url("/resources/fonts/body/Satisfy-Regular.ttf");
}

iframe {
  width: 100%;
  border: none;

}
//sass variable
$header-font:header-font;
$menu-font:menu-font;
$datepicker-background-color:rgb(235, 233, 222);
$background-ui:rgb(246, 245, 244);
$body-font:body-font;
$color-1:rgb(101, 75, 36);
$color-2:rgb(0,0,0);
$dataTable-even: rgb(243, 242, 241);
$dataTable-odd:rgb(255, 255, 255);
$dataTable-tr-hover-background: rgb(107, 87, 54);
$dataTable-tr-hover-text-color: rgb(255, 255, 255);
$datepicker-date-active-background-color:rgb(247,243,222);
$datepicker-date-active-border-color:rgb(178,162,102);
$datepicker-date-alert-background-color:rgb(185, 49, 0);
$datepicker-date-border-color: rgb(203,199,189);
$datepicker-date-color:rgb(58,52,39);
$datepicker-date-neutral-background-color:rgb(248,246,247);
$datepicker-date-ok-background-color: rgb(0,129,34);
$datepicker-date-warn-background-color:rgb(229,148,0);
$datepicker-date-highlighted-hover-font-color:rgb(25,25,112);
$datepicker-date-highlighted-hover-border-color:rgb(25,25,112);
$datepicker-tooltip-color:rgb(25,25,112);
$datepicker-tooltip-border-color:rgb(25,25,112);
$datepicker-tooltip-background-color:rgb(234, 232, 221);
$datepicker-tooltip-font: body-font;
$warn-color: rgb(185, 49, 0);

@mixin date-highlight-common{
	border-color:$datepicker-date-active-border-color !important;
	color: $datepicker-background-color !important;
}

.date-highlight-ok>a{
	@include date-highlight-common;
	background: $datepicker-date-ok-background-color !important ;
}

.date-highlight-warn>a{
	@include date-highlight-common;
	background: $datepicker-date-warn-background-color !important ;
}

.date-highlight-alert>a{
	@include date-highlight-common;
	background: $datepicker-date-alert-background-color !important ;
}

.date-highlight-today>a{
	border-color:$datepicker-date-active-border-color !important;
	background: $datepicker-date-active-background-color !important ;
}

.date-highlight-today>a:hover,.date-highlight-alert>a:hover,.date-highlight-warn>a:hover,.date-highlight-ok>a:hover{
	color: $datepicker-date-highlighted-hover-font-color !important ;
	border-color: $datepicker-date-highlighted-hover-border-color !important;
}

.date-highlight-today-alert>a{
	@include date-highlight-common;
	background: $datepicker-date-alert-background-color !important ;
	animation: blinkDate 2s linear infinite;
}

.date-highlight-neutral>a{
	background: $datepicker-date-neutral-background-color !important ;
}

.date-highlight-neutral>a:hover{
	color: $datepicker-date-color !important ;
	border-color: $datepicker-date-border-color !important;
	cursor: default !important;
}

@keyframes blinkDate{
0%{opacity: 0;}
25%{opacity: 0.25;}
50%{opacity: 0.5;}
75%{opacity: 0.75;}
100%{opacity: 1;}
}

.book-late-alert{
	color: $warn-color;
}



@mixin level-3-font{
	font-family:$menu-font;
	font-weight: lighter;
	text-align:left;
}



@mixin border-and-background{
	background-color: $background-ui;
	border-top:10px double $color-1;
	border-bottom:10px double $color-1;
	border-radius: 10px 10px 10px 10px;
}


@mixin nav-elemt-basis{
	@include level-3-font;
	font-size:1.5em;
	padding: 0;
	padding-left: 10px;
}
//datatable custom style-start
.dataTables_wrapper{
	font-family:body-font !important ;
	font-size: 1.3em;
}

tr.even{
	background:$dataTable-even !important;
}

tr.odd{
	background-color:$dataTable-odd !important;
}

tr.even:hover,tr.odd:hover{
	background-color:$dataTable-tr-hover-background !important;
	color:$dataTable-tr-hover-text-color !important;
}
//datatable custom style-end




.body-font>div{
	font-family:$body-font !important;
	font-size: 1.4em;
	}

.errorMessage{
	font-family:$body-font !important;
	font-size:1.7em;
	color:$color-1;
	text-align: left;
}

.errorCode{
	font-family:$body-font !important;
}

.title{
	@include border-and-background;
	color:$color-1;
	text-align:center;
	font-family:$header-font;
	font-size: 6vw;
	padding: 0px;
    margin-top: 1vw;
}

.sub-title{
	color:$color-1;
	text-align:center;
	font-family:$menu-font;
	font-size: 4vw;
}

.menu-text{
	@include level-3-font;
	font-size:1.7em;
	text-decoration: underline;
	text-decoration-color: $color-1;
}

.uiElmt-sideNav-login{
	@include nav-elemt-basis;
	padding-right: 10px;
}

.uiElmt-sideNav-unlogin{
	@include nav-elemt-basis;
	background:$warn-color !important;
	color: white !important;
	padding-right: 10px;

}

.uiElmt-sideNav-link{
	@include nav-elemt-basis;
	width:100%;
}

.uiElmt-sideNav-select{
	@include nav-elemt-basis;
}

.log{
	@include border-and-background;
}


.loanSummary{
	font-family: $body-font;
	font-size: 1.2em;
}

.reservationExamplariesList{
	font-family: $body-font;
	font-size: 1.2em;
}



.datepicker-tooltip {
	white-space: pre-wrap;
	padding-right: 10px;
	background:$datepicker-background-color!important;
	border: 1px solid !important;
	border-color: $datepicker-tooltip-border-color !important;
	font-family:$datepicker-tooltip-font  !important;
	color:$datepicker-tooltip-color !important;
}

.postPoneAsk{
	border: none;
	background-color: none;
	background: none;
	margin: 0;
	padding :0;
}

.postPoneAsk:hover{
	text-decoration: underline;
	color:$datepicker-date-highlighted-hover-font-color;
}

.loanSummaryRows:hover {
	color:$datepicker-date-highlighted-hover-font-color;
	background-color:$datepicker-background-color ;
	cursor: default;

}

.doReservationTitleAndBuilding{
	color:$color-2;
	text-align:center;
	font-family:$menu-font;
	font-size: 2em;
}



