@font-face {
  font-family: header-font;
  src: url("/resources/fonts/head/Beguns FREE.ttf");
}
@font-face {
  font-family: sub-header-font;
  src: url("/resources/fonts/head/Old Bookshop HK.ttf");
}
@font-face {
  font-family: menu-font;
  src: url("/resources/fonts/menu/Birds of Paradise.ttf");
}
@font-face {
  font-family: body-font;
  src: url("/resources/fonts/body/Satisfy-Regular.ttf");
}
iframe {
  width: 100%;
  border: none;
}

.date-highlight-ok > a {
  border-color: #b2a266 !important;
  color: #ebe9de !important;
  background: #008122 !important;
}

.date-highlight-warn > a {
  border-color: #b2a266 !important;
  color: #ebe9de !important;
  background: #e59400 !important;
}

.date-highlight-alert > a {
  border-color: #b2a266 !important;
  color: #ebe9de !important;
  background: #b93100 !important;
}

.date-highlight-today > a {
  border-color: #b2a266 !important;
  background: #f7f3de !important;
}

.date-highlight-today > a:hover, .date-highlight-alert > a:hover, .date-highlight-warn > a:hover, .date-highlight-ok > a:hover {
  color: midnightblue !important;
  border-color: midnightblue !important;
}

.date-highlight-today-alert > a {
  border-color: #b2a266 !important;
  color: #ebe9de !important;
  background: #b93100 !important;
  animation: blinkDate 2s linear infinite;
}

.date-highlight-neutral > a {
  background: #f8f6f7 !important;
}

.date-highlight-neutral > a:hover {
  color: #3a3427 !important;
  border-color: #cbc7bd !important;
  cursor: default !important;
}

@keyframes blinkDate {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
.book-late-alert {
  color: #b93100;
}

.dataTables_wrapper {
  font-family: body-font !important;
  font-size: 1.3em;
}

tr.even {
  background: #f3f2f1 !important;
}

tr.odd {
  background-color: white !important;
}

tr.even:hover, tr.odd:hover {
  background-color: #6b5736 !important;
  color: white !important;
}

.body-font > div {
  font-family: body-font !important;
  font-size: 1.4em;
}

.errorMessage {
  font-family: body-font !important;
  font-size: 1.7em;
  color: #654b24;
  text-align: left;
}

.errorCode {
  font-family: body-font !important;
}

.title {
  background-color: #f6f5f4;
  border-top: 10px double #654b24;
  border-bottom: 10px double #654b24;
  border-radius: 10px 10px 10px 10px;
  color: #654b24;
  text-align: center;
  font-family: header-font;
  font-size: 6vw;
  padding: 0px;
  margin-top: 1vw;
}

.sub-title {
  color: #654b24;
  text-align: center;
  font-family: menu-font;
  font-size: 4vw;
}

.menu-text {
  font-family: menu-font;
  font-weight: lighter;
  text-align: left;
  font-size: 1.7em;
  text-decoration: underline;
  text-decoration-color: #654b24;
}

.uiElmt-sideNav-login {
  font-family: menu-font;
  font-weight: lighter;
  text-align: left;
  font-size: 1.5em;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.uiElmt-sideNav-unlogin {
  font-family: menu-font;
  font-weight: lighter;
  text-align: left;
  font-size: 1.5em;
  padding: 0;
  padding-left: 10px;
  background: #b93100 !important;
  color: white !important;
  padding-right: 10px;
}

.uiElmt-sideNav-link {
  font-family: menu-font;
  font-weight: lighter;
  text-align: left;
  font-size: 1.5em;
  padding: 0;
  padding-left: 10px;
  width: 100%;
}

.uiElmt-sideNav-select {
  font-family: menu-font;
  font-weight: lighter;
  text-align: left;
  font-size: 1.5em;
  padding: 0;
  padding-left: 10px;
}

.log {
  background-color: #f6f5f4;
  border-top: 10px double #654b24;
  border-bottom: 10px double #654b24;
  border-radius: 10px 10px 10px 10px;
}

.loanSummary {
  font-family: body-font;
  font-size: 1.2em;
}

.datepicker-tooltip {
  white-space: pre-wrap;
  padding-right: 10px;
  background: #ebe9de !important;
  border: 1px solid !important;
  border-color: midnightblue !important;
  font-family: body-font !important;
  color: midnightblue !important;
}

.postPoneAsk {
  border: none;
  background-color: none;
  background: none;
  margin: 0;
  padding: 0;
}

.postPoneAsk:hover {
  text-decoration: underline;
  color: midnightblue;
}

.loanSummaryRows:hover {
  color: midnightblue;
  background-color: #ebe9de;
  cursor: default;
}

/*# sourceMappingURL=appCss.css.map */
