<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<script th:src="@{/resources//JQuery/node_modules/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/resources//JQuery/JQueryUi/jquery-ui-1.12.1/jquery-ui.js}"></script>
<!-- jquery-ui.min.js not used in order to apply modification in jquery-ui.js (search for FLE 21/09/2020 in jquery.js file for details) -->

<link rel="stylesheet" 
	th:href="@{/resources//JQuery/JQueryUi/jquery-theme/jquery-ui-themes-1.12.1/themes/pepper-grinder/jquery-ui.css}">	
	
<title>Insert title here</title>
</head>
<body>
	
	<th:block th:fragment="LibraryApp_head">	
		<script th:src="@{/resources/JQuery/node_modules/jquery/dist/jquery.min.js}"></script>
		<script th:src="@{/resources/JQuery/JQueryUi/jquery-ui-1.12.1/jquery-ui.js}"></script>
		<!-- jquery-ui.min.js not used in order to apply modification in jquery-ui.js (search for FLE 21/09/2020 in jquery.js file for details) -->
		<link rel="stylesheet" 
		th:href="@{/resources/JQuery/JQueryUi/jquery-theme/jquery-ui-themes-1.12.1/themes/pepper-grinder/jquery-ui.css}">
		<script th:src="@{/resources/JS/jQueryTools.js}"></script>
		<script th:src="@{/resources/JS/jQueryUiStylingTools.js}"></script>
		<script src="https://kit.fontawesome.com/4d5fe12e4b.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" th:href="@{./resources/css/css/appCss.css}">		
	</th:block>

	<div th:fragment="LibraryApp_header">	
		<h1 class="title">
    	BiblioWeb</h1>
	</div>
	
	<div th:fragment="home_subTitle">
		<div class="container-fluid">
			<div class="row content">
				<div class="col-lg-2"></div>
				<div class="col-lg-8">
					<h2 class="sub-title">Acceuil</h2>		
				</div>
				<div class="col-lg-2 text-right">
					<div th:replace="appFragments :: sideNave_link_log"></div>
				</div>			
			</div>		
		</div>
	</div>
	
	<div th:fragment="log_subTitle">	
		<h2 class="sub-title">Connexion</h2>		
	</div>
	
	<div th:fragment="bookList_subTitle">
		<div class="container-fluid">
			<div class="row content">
				<div class="col-lg-2"></div>
				<div class="col-lg-8">
					<h2 class="sub-title">Liste des livres</h2>		
				</div>
				<div class="col-lg-2 text-right">
					
				</div>			
			</div>		
		</div>
	</div>
	
	
	
	
	
	
	
	
	
	<div th:fragment="backHomeButton_nav">
		<p>
			<a th:id="backHomeButton" th:href="@{/}">Retour Acceuil</a>				
		</p> 
		<script th:src="@{/resources/JS/jQueryUiStylingTools.js}"></script>
		<script type="text/javascript">
			uiButton("#backHomeButton","uiElmt-sideNav-link");				
		</script>	  	
	</div>
	
	<div th:fragment="sideNave_link_bookList">
		<p>
			<a id="bookList" href="/booksList" >Liste des livres</a>
		</p>	
		<script th:src="@{/resources/JS/jQueryUiStylingTools.js}"></script>	
		<script type="text/javascript">
			uiButton("#bookList","uiElmt-sideNav-link");		
		</script>	
	</div>
	
	<div th:fragment="sideNave_link_log"> 					
		<p th:if = "${session.logged != 'true'}">
			<a th:id="logBtn" href="/login">Connexion</a>
		</p>
		<p th:unless = "${session.logged != 'true'}">
			<a th:id="unlogBtn" href="/logout">Déconnexion</a>
		</p>
		<script th:src="@{/resources/JS/jQueryUiStylingTools.js}"></script>	
		<script type="text/javascript">
			uiButton("#logBtn","uiElmt-sideNav-login");
			uiButton("#unlogBtn","uiElmt-sideNav-unlogin");								
		</script>
				</div>
				
		
	

	
</body>
</html>