<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script th:src="@{/JQuery/node_modules/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/JQuery/JQueryUi/jquery-ui-1.12.1/jquery-ui.js}"></script>
<!-- jquery-ui.min.js not used in order to apply modification in jquery-ui.js (search for FLE 21/09/2020 in jquery.js file for details) -->
<link rel="stylesheet" 
	th:href="@{/JQuery/JQueryUi/jquery-theme/jquery-ui-themes-1.12.1/themes/pepper-grinder/jquery-ui.css}">	
	
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="LibraryApp_header">	
		<h1
		style="
		color:RGB(101, 75, 36); 
		text-align:center; 
		font-family:header-font; 
		font-size: 6vw; 
		background-color: rgb(246, 245, 244);
		border-radius: 10px 10px 10px 10px;
		border:10px double RGB(101, 75, 36); 
		padding: 0px;
    	margin-top: 1vw; ">
    	BiblioWeb</h1>
	</div>
	
	<div th:fragment="home_subTitle">	
		<h2 style="		
		color:RGB(101, 75, 36); 
		text-align:center;
		font-family:menu-font;
		font-size: 4vw;
		 ">Acceuil</h2>		
	</div>
	<div th:fragment="bookList_subTitle">	
		<h2 style="		
		color:RGB(101, 75, 36); 
		text-align:center;
		font-family:menu-font;
		font-size: 4vw;">Liste des livres</h2>		
	</div>
	<div th:fragment="backHomeButton_nav">
		<div>
			<a th:id="backHomeButton" th:href="@{/}">Retour Acceuil</a>	
			<script type="text/javascript">
				$("#backHomeButton").button();
			</script>	
		</div>   	
	</div>
	
	<div th:fragment="home_sideNave">
		<p><a class="homeLink uiElmt" href="/booksList" >Liste des livres</a></p>			
			<p th:if = "${#authentication.name == 'anonymousUser'}"><a class="homeLink uiElmt" href="/login">Connexion</a></p>
			<p th:unless = "${#authentication.name == 'anonymousUser'}"><a class="homeLink uiElmt" href="/logout">Déconnexion</a></p>
	
	</div>
	
	
</body>
</html>