<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
<template th:replace="appFragments :: LibraryApp_head"></template>
<meta charset="UTF-8">
<script th:src="@{/JS/bookListJQuery.js}"></script>
<title>Liste des livres</title>
</head>
<body style ="display: none;">
	<header> 
		<div th:replace="appFragments :: LibraryApp_header"></div>
		<div th:replace="appFragments :: bookList_subTitle"></div>				
	</header>
	<div class="container-fluid text-center">
	<div class="row content">
 		<div class="col-lg-2 sidenav text-left">
 		<p th:replace="appFragments :: backHomeButton_nav"></p>	
 			<div>
		<h2 class="menu-text">Choix bibliothèque</h2>
		<div>			
			<select  th:id="buildingSelect"  >
				<option th:value="0"  th:selected>tous les batiments</option>
				<option th:each="building:${buildings}" th:value="${building.id}" th:text="${building.name}"  ></option>
			</select>
		</div>
	</div>
	<br>
	<div>
		<h2 class="menu-text">Filtrer par genre littéraire</h2>
	<div id="check" >
		<label th:each="kind:${kinds}" th:text="${kind.kind}" th:for="${kind.kind}"></label>
		<input th:each="kind:${kinds}" class="kind" th:type="checkbox" th:name="${kind.kind}" th:id="${kind.kind}" th:value="${kind.kind}" >
	</div>
	<br>
	<div>
	<p>
		<button th:id="clearKindsFilter" style="display: none;"><i class="far fa-trash-alt pr-1" style="color: rgb(185, 49, 0);"></i>Genre (s)</button>
	</p>
	</div>
	<br>
	</div>
 		</div>
 		<div class="col-md-12 col-lg-10 ">
			<iframe th:src="@{/bookListTable}" th:id="booksListIframe"></iframe>		
 		</div>
	</div>
	</div>


	<script th:inline="javascript">
	$(document).ready(function(){
		//;
		});
	bookListJQueryElmt();
	uiButton("#clearKindsFilter","uiElmt-sideNav-link");	
	uiCheckBoxRadio(".kind", "uiElmt-sideNav-link");	
	uiSelectMenu("#buildingSelect","uiElmt-sideNav-select" ,'100%');
		initFilterOnload();
		setBookTableIframe();
		toggleDisplayClearKindFilterButton();
		kindOnClickAction();
		clearButtonOnClickAction();
		
		
		
	</script>
</body>
</html>