<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:replace="appFragments :: LibraryApp_head"></th:block>
<script
	th:src="@{https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js}" 
	integrity="sha384-XnTxmviuqUy3cHBf+lkYWuTSDlhxCDxd9RgSo5zvzsCq93P9xNa6eENuAITCwxNh" 
	crossorigin="anonymous" ></script>
	
<script
	th:src="@{//cdn.datatables.net/1.10.22/js/dataTables.jqueryui.min.js}"></script>

<link rel="stylesheet"
	th:href="@{https://cdn.datatables.net/1.10.22/css/dataTables.jqueryui.min.css}"
	integrity="sha384-6nGlCO+v2mIxLP47sfNBZXjkZqCIOP77izEn/i+IAhVNP3C4cvsFWatAOX34nLYw"
	crossorigin="anonymous">
<script th:src="@{/resources/JS/bookListTableJQuery.js}"></script>


<title>tableaux des livres</title>
</head>
<body>
<!-- use .dataTables_wrapper in css to custom table  -->
	<table id="booksList" class="cell-border  hover stripe" style="opacity: 0;">
		<thead>
			<tr>
				<th>Genre</th>
				<th>Titre</th>
				<th>Auteur</th>
				<th>Bibliothèque</th>
				<th>Nombre d'exemplaire disponible</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="book:${list}">
				<td th:text="${book.kind}"></td>
				<td th:text="${book.title}"></td>
				<td th:text="${book.author}"></td>
				<td th:text="${book.libraryBuildingName}"></td>
				<td >
					<span th:if = "${book.number > 0}" th:text="${book.number}"></span>
					<span th:if = "${book.number == 0}" >
						<a th:href="@{'/doreservation?title='
						+${book.title}+'&building='+${book.libraryBuildingName}}">
							0 ,faire une réservation</a>
					</span>
					<span th:if = "${book.number <0}" th:text="'0 ,Aucune disponibilité'" ></span>	
				</td>
			</tr>
		</tbody>
	</table>
	<br>
	<br>
	<script type="text/javascript">		
		bookListTable();
		triggerAdjustIFrameHeight();
	</script>
</body>
</html>