<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:replace="appFragments :: LibraryApp_head"></th:block>
<title>Page d erreur</title>
</head>
<body>
<header> 
			<div th:replace="appFragments :: LibraryApp_header"></div>
			<div th:replace="appFragments :: errorPage_subTitle"></div>	
			
						
		</header>
		<div class="container-fluid text-center">
	<div class="row content">
 		<div class="col-lg-2 sidenav text-left">
 		<p th:replace="appFragments :: backHomeButton_nav"></p>	
 		</div>
 		<div class="col-md-12 col-lg-8 offset-lg-2 errorMessage">
 		Un problème est survenu, désolé pour le désagrément.
 		</div>
 		</div> 		
 		</div>
 		

</body>
</html>