<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:replace="appFragments :: LibraryApp_head"></th:block>
<script th:src="@{/resources/JQuery/datepickerI18n/datepicker_fr.js}"></script>
<script th:src="@{/resources/JS/datepikerLoan.js}"></script>

<script th:src="@{/resources/JS/jQueryTools.js}"></script>

<title>Suivi des emprunts</title>
</head>
<body>
	<div class="container-fluid text-center">

<!--  <div th:id="loading" style="background-color: black;"> loading...</div>-->



		<div class="row content">
			<div class="col-xl-4 col-lg-5 col-md-12 ">
				<span class="menu-text" >Calendrier</span><br>
				<div class="d-inline-flex justify-content-center" id="date"></div>
			</div>
		<div class="col-xl-8 col-lg-7 col-md-12">
			<span class="menu-text" > Résumer des livres empruntés</span>
			<br>
			<table class="table table-borderless table-sm loanSummary">				
				<tr	th:if="${list==null}">
					<td>Connectez vous pour affichez le résumer</td>
				</tr>
				<tr	th:if="${list !=null and list.empty}">
					<td>Aucun emprunt en cours</td>
				</tr>
				<tr class="loanSummaryRows" th:if="${list !=null and !list.empty}" th:each="loan:${list}" th:classappend="${loan.daysLeft<0}?book-late-alert:''">
					<td class="text-left" >			 		
						<span >- </span>
						<span th:text="${loan.bookTitle}"></span>
						<span th:if="${loan.daysLeft < 0}">en <ins>retard</ins> était à retouner le : </span>
						<span th:if="${loan.daysLeft >= 0}">à retourner au plus tard le : </span>
						<span th:text="${loan.localizedFullDate}"></span>	
						<br>					
					</td>					
					<td th:if= "${loan.postponed ==false and loan.daysLeft >= 0}" class="text-left align-bottom">
						<form  th:action="@{/postPone}" method="post">
							<input type = "hidden" th:value="${loan.id}" name="loanId">
							<span><sup>xxx</sup></span>
							<input class="postPoneAsk"  type="submit" value="Demander un délai de 4 semaines" >					
							<span><sup>xxx</sup></span>
						</form>						
					</td>
					<td th:if= "${loan.postponed ==true and loan.daysLeft >= 0}" class="text-left align-bottom">
					<span><sup>xxx</sup></span>
					<span >Report déja appliqué</span>	
					<span><sup>xxx</sup></span>
					</td>
					<td th:if= "${loan.daysLeft < 0}" class="text-left align-bottom">
					<span><sup>xxx</sup></span>
					<span ><b>Urgent rapporter le livre</b></span>	
					<span><sup>xxx</sup></span>
					</td>								
				</tr>				
			</table>
		</div>
	</div>		
</div>
<script th:inline="javascript">
var list = /*[[${list}]]*/ null;
var datepickerList = /*[[${datepickerInfo}]]*/ null;
/*var dates = [new Date(2020,9,26)];
var datum = new Date(2020,10,15);
var today = new Date();
var todayStr = new Date(2020,10,02);
loanReturnDatesArray(list);
function splitDateString(date){
	return date.split("-");
}*/

datePickerSetting("#date",datepickerList);

$(document).ready(function(){
	//$( "#date" ).datepicker( $.datepicker.regional[ "fr" ]);
	
	//$( "#date" ).datepicker( "destroy");
	//datePickerHighLightDate("#date");
	//changemonth();
	highlightDateToolTip('.css-class-to-highlight');
	//document.getElementById('targetFrame').contentWindow.setHomeIframeHeight();
	$(".ui-state-active").addClass("customActive")
	window.top.window.setHomeIframeHeight();
	
});/*
function datePickerSetting(selector){
	$( "#date" ).datepicker({ 
	"datepicker" :	$.datepicker.regional[ "fr" ],		
	"beforeShowDay": function(date){
		bool = date.toDateString().includes(datum.toDateString());	
		if(bool){
			alert(date+"//"+datum)
			// for calculation date difference	alert((Math.floor(parseInt(today.setHours(0,0,0)-datum.setHours(0,0,0))/(1000*60*60*24))));
				
			return [true, 'css-class-to-highlight', 'retouner \n le seigneur de s anneaux les deux tours'];
			
			}
		return [true, '', ''];				
		},		

	});
	//highlightDateToolTip('.css-class-to-highlight'); 	
	 $( "#date" ).datepicker().addClass("body-font");
	 
	
}*/



function highlightDateToolTip(selector){
	$( "#date" ).tooltip({
		 //appearcustom
	      show: {
	        effect: "fade",
	        delay: 0	        
	      },
	      //customclass
	 tooltipClass:"datepicker-tooltip "		
	});
	
}	

function datePickerHighLightDate(selector){
	$( "#date" ).datepicker({
		
		beforeShowDay: function(date){
			
			if(date.setHours(0,0,0) === datum.setHours(0,0,0) ){
				return [true, 'css-class-to-highlight', ''];
				}
			return [true, '', ''];
					
			}

			});
}

function readyStateChanged() {
    if(document.readyState!=="complete"){
        console.log('chargement');
		$('#loading').show();
		$('#content').hide();
		setTimeout(function (){

			 console.log('chargementWait');

			}, 2000);
        }else{
        	console.log('chargé');
        	$('#loading').hide();
    		$('#content').show();
    		window.top.window.setHomeIframeHeight();}
}

$(document).on('readystatechange', readyStateChanged); 

</script>
</body>
</html>