<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:replace="appFragments :: LibraryApp_head"></th:block>
<script th:src="@{/JQuery/datepickerI18n/datepicker_fr.js}"></script>
<script th:src="@{/JS/datepikerLoan.js}"></script>
<title>Insert title here</title>
</head>
<body>
<div th:id="loading" style="background-color: black;"> loading...</div>
<div th:id="content">
<h1 class="menu-text">Bienvenue</h1>
<div id="date"></div>
<table id="loans" >
		<thead>
			<tr>
				<th>id</th>
				<th>returnDate</th>
				<th>postponed</th>
				<th>book</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="loan:${list}">
				<td th:text="${loan.id}"></td>
				<td th:text="${loan.returnDate}"></td>
				<td th:text="${loan.postponed}"></td>
				<td th:text="${loan.book.title}"></td>
			</tr>
		</tbody>
	</table>
</div>
<script th:inline="javascript">
var list = /*[[${list}]]*/ null;
var dates = [new Date(2020,9,26)];
var datum = new Date(2020,10,15);
var today = new Date();

function splitDateString(date){
	return date.split("-");
}

alert(createDate("2020-10-18"));




$(document).ready(function(){
	//$( "#date" ).datepicker( $.datepicker.regional[ "fr" ]);
	datePickerSetting("#date");
	//$( "#date" ).datepicker( "destroy");
	//datePickerHighLightDate("#date");
	//changemonth();
	highlightDateToolTip('.css-class-to-highlight');
	//document.getElementById('targetFrame').contentWindow.setHomeIframeHeight();
	window.top.window.setHomeIframeHeight();
	
});
function datePickerSetting(selector){
	$( "#date" ).datepicker({ 
	"datepicker" :	$.datepicker.regional[ "fr" ],		
	"beforeShowDay": function(date){		
		if(date.setHours(0,0,0) === datum.setHours(0,0,0) ){
			// for calculation date difference	alert((Math.floor(parseInt(today.setHours(0,0,0)-datum.setHours(0,0,0))/(1000*60*60*24))));
				
			return [true, 'css-class-to-highlight', 'retouner \n le seigneur de s anneaux les deux tours'];
			
			}
		return [true, '', ''];				
		},		

	});
	//highlightDateToolTip('.css-class-to-highlight'); 	
	 $( "#date" ).datepicker().addClass("body-font");
	 
	
}



function highlightDateToolTip(selector){
	$( "#date" ).tooltip({
		 //appearcustom
	      show: {
	        effect: "fade",
	        delay: 0	        
	      },
	      //customclass
	 tooltipClass:"tooltipUi"		
	});
	
}	

function datePickerHighLightDate(selector){
	$( "#date" ).datepicker({
		
		beforeShowDay: function(date){
			
			if(date.setHours(0,0,0) === datum.setHours(0,0,0) ){
				return [true, 'css-class-to-highlight', ''];
				}
			return [true, '', ''];
					
			}

			});
}

function readyStateChanged() {
    if(document.readyState!=="complete"){
        console.log('chargement');
		$('#loading').show();
		$('#content').hide();
		setTimeout(function (){

			 console.log('chargementWait');

			}, 2000);
        }else{
        	console.log('chargé');
        	$('#loading').hide();
    		$('#content').show();
    		window.top.window.setHomeIframeHeight();}
}

$(document).on('readystatechange', readyStateChanged); 

</script>
</body>
</html>