@font-face {
  font-family: header-font;
  src: url("/fonts/head/Beguns FREE.ttf");
}

@font-face {
  font-family: sub-header-font;
  src:url("/fonts/head/Old Bookshop HK.ttf");
}

@font-face {
  font-family: menu-font;
  src:url("/fonts/menu/Birds of Paradise.ttf");
}

@font-face {
  font-family: body-font;
  src:url("/fonts/body/Satisfy-Regular.ttf");
}

iframe {
  width: 100%;
  border: none;

}
//sass variable
$color-1:rgb(101, 75, 36);
$background-ui:rgb(246, 245, 244);
$background-calendar:rgb(234, 232, 221);
$warn-color: rgb(185, 49, 0);
$menu-font:menu-font;
$header-font:header-font;
$body-font:body-font;
$dataTable-odd:rgb(255, 255, 255);
$dataTable-even: rgb(243, 242, 241);
$dataTable-tr-hover-background: rgb(107, 87, 54);
$dataTable-tr-hover-text-color: rgb(255, 255, 255);

@mixin level-3-font{
	font-family:$menu-font;
	font-weight: lighter;
	text-align:left;
}



@mixin border-and-background{
	background-color: $background-ui;
	border-top:10px double $color-1;
	border-bottom:10px double $color-1;
	border-radius: 10px 10px 10px 10px;
}


@mixin nav-elemt-basis{
	@include level-3-font;
	font-size:1.5em;
	padding: 0;
	padding-left: 10px;
}
//datatable custom style-start
.dataTables_wrapper{
	font-family:body-font !important ;
	font-size: 1.3em;
}

tr.even{
	background:$dataTable-even !important;
}

tr.odd{
	background-color:$dataTable-odd !important;
}

tr.even:hover,tr.odd:hover{
	background-color:$dataTable-tr-hover-background !important;
	color:$dataTable-tr-hover-text-color !important;
}
//datatable custom style-end

.ui-datepicker-today>ui-state-active{
	background: rgb(0, 0, 255) !important;
}


.body-font>div{
	font-family:$body-font !important;
	font-size: 1.4em;
	}

.title{
	@include border-and-background;
	color:$color-1;
	text-align:center;
	font-family:$header-font;
	font-size: 6vw;
	padding: 0px;
    margin-top: 1vw;
}

.sub-title{
	color:$color-1;
	text-align:center;
	font-family:$menu-font;
	font-size: 4vw;
}

.menu-text{
	@include level-3-font;
	font-size:1.7em;
	text-decoration: underline;
	text-decoration-color: $color-1;
}

.uiElmt-sideNav-login{
	@include nav-elemt-basis;
	padding-right: 10px;
}

.uiElmt-sideNav-unlogin{
	@include nav-elemt-basis;
	background:$warn-color !important;
	color: white !important;
	padding-right: 10px;

}

.uiElmt-sideNav-link{
	@include nav-elemt-basis;
	width:100%;
}

.uiElmt-sideNav-select{
	@include nav-elemt-basis;
}

.log{
	@include border-and-background;
}
.css-class-to-highlight>a{
	background: rgb(0, 0, 255) !important;
	border: 1px solid rgb(255, 0, 0)!important;

	color: rgb(255, 255, 0) !important;

}

.tooltipUi {
	white-space: pre-wrap;
	padding-right: 10px;
	background:$background-calendar!important;
	border: 1px solid $color-1 !important;
	font-family:$body-font !important;
	color:$color-1 !important;
}



